.py-5
{
  background-color: #afe7e4;
}
.support-section {
    background-color: #afe7e4 ;
    min-height: 100vh;
    padding: 30px 0;
  }
  
  .support-title {
    color: #0F1035;
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .support-description {
    color: #365486;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .support-form .form-control {
    background-color: #ffffff ;
    color: #0F1035;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
  }
  
  .support-form .form-control:focus {
    box-shadow: none;
    border: 2px solid #365486;
  }
  
  .support-button {
    background-color: #1E2A5A;
    border: none;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .support-button:hover {
    background-color: #365486;
    color: #afe7e4;
  }
  
  .contact-info {
    margin-top: 50px;
    color: #365486;
  }
  
  .contact-info h5 {
    color: #0F1035;
    font-weight: bold;
  }
  
  .contact-info p {
    color: #365486;
  }
 